@use '../util/breakpoints.scss' as *;

// TIPOGRAPHY:
.heading-primary { 
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 6.4rem;
  color: var(--heading-black-blue);

   // TABLET
  @include respond(tab) {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

   // PHONE
   @include respond(sm-phone) {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
  color: var(--heading-black-blue-light);

   // PHONE
   @include respond(sm-phone) {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  &--footer {
    color: var(--white);

    // TABLET
    @include respond(tab) {
      text-align: center;
      padding: 0 4rem;
      margin-bottom: 3.2rem;
    }

    // PHONE
    @include respond(sm-phone) {
      padding: 0 3rem;
      margin-bottom: 2.4rem;
    }
  }
}

.subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2.6rem;
  letter-spacing: .4rem;
  color: var(--primary);
}

// BUTTONS/NAV LINKS:
%btn { 
  display: inline-block;
  padding: 1.6rem 2.9rem;
  border: none;
  border-radius: 2.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--white); 
}

%nav-link:link, 
%nav-link:visited {
  display: inline-block;
  padding: 1.6rem 2.9rem;
  border-radius: 2.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--white);
}

:is(%btn, %nav-link) {
  transition: all 300ms ease-out;  
}


// MOVE (Translate)
.move-left { 
  transform: translateX(-3.2rem);

   // TABLET
   @include respond(tab) {
    transform: translateX(-2.6rem);
  }

   // PHONE
   @include respond(sm-phone) { 
    transform: translateX(-2rem);
  }
}

.move-right { 
  transform: translateX(3.2rem);

  // TABLET
  @include respond(tab) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: translateX(.65rem);
  }

   // PHONE
   @include respond(sm-phone) { 
    transform: translateX(.35rem);
  }
}

.move-up { 
  transform: translateY(-50%);

  &--tab {
    // TABLET
    @include respond(tab) {
      transform: translateY(-50%);
    }
  }
}
.move-down { 
  transform: translateY(50%);

  // TABLET
  @include respond(tab) {
    transform: translateY(0);
  }
}

























