
:root {
  --primary: hsl(192, 37%, 48%);
  --secondary: hsl(268, 34%, 53%);

  // Tints:
  --primary-light: hsla(192, 54%, 64%, 1);
  --primary-light2: hsl(192, 90%, 77%);
  --secondary-light: hsla(267, 54%, 71%, 1);
  --secondary-light2: hsl(268, 100%, 86%);
  
  // Text:
  --heading-black-blue: hsl(240, 21%, 20%);
  --text-gray-blue: hsl(240, 10%, 57%);
  // Tints:
  --heading-black-blue-light: hsla(239, 21%, 20%, 1);
  --text-gray-blue-light:  hsla(240, 10%, 57%, 0.25);
  --text-gray-blue-light2: hsla(239, 10%, 57%, 1);
  
  // Background:
  --background-white: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 98%);
};















